#### Decision tree
- It is a kind of Supervised machine learning in which data is continually segmented based on a parameter.
- Breaks down data into smaller subsets
- The final results is a tree wit decision nodes and leaf nodes

How it works:
- Chooses a feature from a given dataset
- Determines the importance of feature in segmenting of data
- Data segmenting depends upon the best attribute
- Repeat

#### Entropy
It is measure the amount of uncertainty or randomness in data
- Low value (0) -> no randomness
- High value(1) -> High randomness [decision tree uses the one with high entropy]

In [2]:
# Implementation of decision tree
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [4]:
# Mark the dataset
col_names = ['company', 'job', 'degree', 'salary_more_than_100k' ]
data = pd.read_csv('Data/salaries.csv', header=None, names=col_names)
data

       company                  job      degree  salary_more_than_100k
0      company                  job      degree  salary_more_then_100k
1       google        sale exective  bachelaors                      0
2       google        sale exective     masters                      0
3       google     business manager  bachelaors                      1
4       google     business manager     masters                      1
5       google  computer programmer  bachelaors                      0
6       google  computer programmer     masters                      1
7   abc pharma        sale exective     masters                      0
8   abc pharma  computer programmer  bachelaors                      0
9   abc pharma     business manager  bachelaors                      0
10  abc pharma     business manager     masters                      1
11    facebook        sale exective  bachelaors                      1
12    facebook        sale exective     masters                      1
13    facebook     business manager  bachelaors                      1
14    facebook     business manager     masters                      1
15    facebook  computer programmer  bachelaors                      1
16    facebook  computer programmer     masters                      1

In [5]:
# split the dataset in features and target variable
feature_columns = ['company', 'job', 'degree']
X = data[feature_columns]
y = data['salary_more_than_100k']
X

       company                  job      degree
0      company                  job      degree
1       google        sale exective  bachelaors
2       google        sale exective     masters
3       google     business manager  bachelaors
4       google     business manager     masters
5       google  computer programmer  bachelaors
6       google  computer programmer     masters
7   abc pharma        sale exective     masters
8   abc pharma  computer programmer  bachelaors
9   abc pharma     business manager  bachelaors
10  abc pharma     business manager     masters
11    facebook        sale exective  bachelaors
12    facebook        sale exective     masters
13    facebook     business manager  bachelaors
14    facebook     business manager     masters
15    facebook  computer programmer  bachelaors
16    facebook  computer programmer     masters

In [6]:
y

0     salary_more_then_100k
1                         0
2                         0
3                         1
4                         1
5                         0
6                         1
7                         0
8                         0
9                         0
10                        1
11                        1
12                        1
13                        1
14                        1
15                        1
16                        1
Name: salary_more_than_100k, dtype: object