In [3]:
# Data serialization
import json  
data = {'name': 'Sam', 'age': 34}
json_str = json.dumps(data)
print(json_str)

parsed_data = json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "Sam", "age": 34}
{'name': 'Sam', 'age': 34}
<class 'dict'>

In [5]:
# csv
import csv
with open('example.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['name', 'age'])
    writer.writerow(['Sam', 43])

# read
with open('example.csv', mode='r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['Sam', '43']

In [7]:
# datetime
from datetime import datetime, timedelta
now = datetime.now()
print(now)

yesterday = now - timedelta(days=1)
print(yesterday)

2025-05-14 14:35:28.727505
2025-05-13 14:35:28.727505

In [9]:
# time
import time

print(time.time())
time.sleep(2)
print(time.time())

1747222597.405282
1747222599.40748

In [10]:
# regular expressions
import re

pattern = r'\d+' # d -> digits
text = 'There are 123 apples'
match = re.search(pattern, text)
print(match.group())

123

In [ ]:
# file operations
# Read a file
with open('iris.csv', mode='r') as file:
    content = file.read()
    print(content)

"sepal.length","sepal.width","petal.length","petal.width","variety"
5.1,3.5,1.4,.2,"Setosa"
4.9,3,1.4,.2,"Setosa"
4.7,3.2,1.3,.2,"Setosa"
4.6,3.1,1.5,.2,"Setosa"
5,3.6,1.4,.2,"Setosa"
5.4,3.9,1.7,.4,"Setosa"
4.6,3.4,1.4,.3,"Setosa"
5,3.4,1.5,.2,"Setosa"
4.4,2.9,1.4,.2,"Setosa"
4.9,3.1,1.5,.1,"Setosa"
5.4,3.7,1.5,.2,"Setosa"
4.8,3.4,1.6,.2,"Setosa"
4.8,3,1.4,.1,"Setosa"
4.3,3,1.1,.1,"Setosa"
5.8,4,1.2,.2,"Setosa"
5.7,4.4,1.5,.4,"Setosa"
5.4,3.9,1.3,.4,"Setosa"
5.1,3.5,1.4,.3,"Setosa"
5.7,3.8,1.7,.3,"Setosa"
5.1,3.8,1.5,.3,"Setosa"
5.4,3.4,1.7,.2,"Setosa"
5.1,3.7,1.5,.4,"Setosa"
4.6,3.6,1,.2,"Setosa"
5.1,3.3,1.7,.5,"Setosa"
4.8,3.4,1.9,.2,"Setosa"
5,3,1.6,.2,"Setosa"
5,3.4,1.6,.4,"Setosa"
5.2,3.5,1.5,.2,"Setosa"
5.2,3.4,1.4,.2,"Setosa"
4.7,3.2,1.6,.2,"Setosa"
4.8,3.1,1.6,.2,"Setosa"
5.4,3.4,1.5,.4,"Setosa"
5.2,4.1,1.5,.1,"Setosa"
5.5,4.2,1.4,.2,"Setosa"
4.9,3.1,1.5,.2,"Setosa"
5,3.2,1.2,.2,"Setosa"
5.5,3.5,1.3,.2,"Setosa"
4.9,3.6,1.4,.1,"Setosa"
4.4,3,1.3,.2,"Setosa"
5.1,3.4,1.5,.2,"Setosa"
5,3.5,1.3,.3,"Setosa"
4.5,2.3,1.3,.3,"Setosa"
4.4,3.2,1.3,.2,"Setosa"
5,3.5,1.6,.6,"Setosa"
5.1,3.8,1.9,.4,"Setosa"
4.8,3,1.4,.3,"Setosa"
5.1,3.8,1.6,.2,"Setosa"
4.6,3.2,1.4,.2,"Setosa"
5.3,3.7,1.5,.2,"Setosa"
5,3.3,1.4,.2,"Setosa"
7,3.2,4.7,1.4,"Versicolor"
6.4,3.2,4.5,1.5,"Versicolor"
6.9,3.1,4.9,1.5,"Versicolor"
5.5,2.3,4,1.3,"Versicolor"
6.5,2.8,4.6,1.5,"Versicolor"
5.7,2.8,4.5,1.3,"Versicolor"
6.3,3.3,4.7,1.6,"Versicolor"
4.9,2.4,3.3,1,"Versicolor"
6.6,2.9,4.6,1.3,"Versicolor"
5.2,2.7,3.9,1.4,"Versicolor"
5,2,3.5,1,"Versicolor"
5.9,3,4.2,1.5,"Versicolor"
6,2.2,4,1,"Versicolor"
6.1,2.9,4.7,1.4,"Versicolor"
5.6,2.9,3.6,1.3,"Versicolor"
6.7,3.1,4.4,1.4,"Versicolor"
5.6,3,4.5,1.5,"Versicolor"
5.8,2.7,4.1,1,"Versicolor"
6.2,2.2,4.5,1.5,"Versicolor"
5.6,2.5,3.9,1.1,"Versicolor"
5.9,3.2,4.8,1.8,"Versicolor"
6.1,2.8,4,1.3,"Versicolor"
6.3,2.5,4.9,1.5,"Versicolor"
6.1,2.8,4.7,1.2,"Versicolor"
6.4,2.9,4.3,1.3,"Versicolor"
6.6,3,4.4,1.4,"Versicolor"
6.8,2.8,4.8,1.4,"Versicolor"
6.7,3,5,1.7,"Versicolor"
6,2.9,4.5,1.5,"Versicolor"
5.7,2.6,3.5,1,"Versicolor"
5.5,2.4,3.8,1.1,"Versicolor"
5.5,2.4,3.7,1,"Versicolor"
5.8,2.7,3.9,1.2,"Versicolor"
6,2.7,5.1,1.6,"Versicolor"
5.4,3,4.5,1.5,"Versicolor"
6,3.4,4.5,1.6,"Versicolor"
6.7,3.1,4.7,1.5,"Versicolor"
6.3,2.3,4.4,1.3,"Versicolor"
5.6,3,4.1,1.3,"Versicolor"
5.5,2.5,4,1.3,"Versicolor"
5.5,2.6,4.4,1.2,"Versicolor"
6.1,3,4.6,1.4,"Versicolor"
5.8,2.6,4,1.2,"Versicolor"
5,2.3,3.3,1,"Versicolor"
5.6,2.7,4.2,1.3,"Versicolor"
5.7,3,4.2,1.2,"Versicolor"
5.7,2.9,4.2,1.3,"Versicolor"
6.2,2.9,4.3,1.3,"Versicolor"
5.1,2.5,3,1.1,"Versicolor"
5.7,2.8,4.1,1.3,"Versicolor"
6.3,3.3,6,2.5,"Virginica"
5.8,2.7,5.1,1.9,"Virginica"
7.1,3,5.9,2.1,"Virginica"
6.3,2.9,5.6,1.8,"Virginica"
6.5,3,5.8,2.2,"Virginica"
7.6,3,6.6,2.1,"Virginica"
4.9,2.5,4.5,1.7,"Virginica"
7.3,2.9,6.3,1.8,"Virginica"
6.7,2.5,5.8,1.8,"Virginica"
7.2,3.6,6.1,2.5,"Virginica"
6.5,3.2,5.1,2,"Virginica"
6.4,2.7,5.3,1.9,"Virginica"
6.8,3,5.5,2.1,"Virginica"
5.7,2.5,5,2,"Virginica"
5.8,2.8,5.1,2.4,"Virginica"
6.4,3.2,5.3,2.3,"Virginica"
6.5,3,5.5,1.8,"Virginica"
7.7,3.8,6.7,2.2,"Virginica"
7.7,2.6,6.9,2.3,"Virginica"
6,2.2,5,1.5,"Virginica"
6.9,3.2,5.7,2.3,"Virginica"
5.6,2.8,4.9,2,"Virginica"
7.7,2.8,6.7,2,"Virginica"
6.3,2.7,4.9,1.8,"Virginica"
6.7,3.3,5.7,2.1,"Virginica"
7.2,3.2,6,1.8,"Virginica"
6.2,2.8,4.8,1.8,"Virginica"
6.1,3,4.9,1.8,"Virginica"
6.4,2.8,5.6,2.1,"Virginica"
7.2,3,5.8,1.6,"Virginica"
7.4,2.8,6.1,1.9,"Virginica"
7.9,3.8,6.4,2,"Virginica"
6.4,2.8,5.6,2.2,"Virginica"
6.3,2.8,5.1,1.5,"Virginica"
6.1,2.6,5.6,1.4,"Virginica"
7.7,3,6.1,2.3,"Virginica"
6.3,3.4,5.6,2.4,"Virginica"
6.4,3.1,5.5,1.8,"Virginica"
6,3,4.8,1.8,"Virginica"
6.9,3.1,5.4,2.1,"Virginica"
6.7,3.1,5.6,2.4,"Virginica"
6.9,3.1,5.1,2.3,"Virginica"
5.8,2.7,5.1,1.9,"Virginica"
6.8,3.2,5.9,2.3,"Virginica"
6.7,3.3,5.7,2.5,"Virginica"
6.7,3,5.2,2.3,"Virginica"
6.3,2.5,5,1.9,"Virginica"
6.5,3,5.2,2,"Virginica"
6.2,3.4,5.4,2.3,"Virginica"
5.9,3,5.1,1.8,"Virginica"

In [14]:
# read line by line
with open('example.csv', 'r') as file:
    for line in file:
        print(line.strip())

name,age
Sam,43

In [ ]:
# writing a file
with open('example.txt', 'a') as file: # a -> append, w -> write, w+ -> read and write
    file.write('This is my new file')
    file.write('Hello world')

# writing a list of lines to a file
lines=['First line\n', 'Second line\n', 'Third line \n']
with open('example.txt', 'a') as file:
    file.writelines(lines)

In [19]:
# Binary files
# writing to a binary file
data = b'\x00\x01\x02\x03\x04'
with open('example.bin', 'wb') as file:
    file.write(data)

In [20]:
# read binary file
with open('example.bin', 'rb') as file:
    content = file.read()
    print(content)

b'\x00\x01\x02\x03\x04'

In [21]:
with open('example.txt', 'r') as source_file:
    content = source_file.read()

with open('destination.txt', 'w') as destination_file:
    destination_file.write(content)

In [25]:
# read a text fiel and count the nuber of lines, words and characters
def count_text_file(file_path):
    with open(file_path, 'r') as file:
        lines = file.readlines()
        line_count = len(lines)
        word_count = sum(len(line.split()) for line in lines)
        char_count = sum(len(line) for line in lines)
    return line_count, word_count, char_count

file_path = 'example.txt'
lines, words, characters = count_text_file(file_path)
print(f'lines: {lines}, words: {words}, characters: {characters}')

lines: 3, words: 21, characters: 125

In [28]:
# writing then reading the fiel
with open('example2.txt', 'w+') as file:
    file.write('I love Singapore\n')
    file.write('Also Illinois\n')

    # move the file cursor to the beginning
    file.seek(0)
    content = file.read()
    print(content)

I love Singapore
Also Illinois

In [29]:
# create new directory
import os
new_directory = "package"
os.mkdir(new_directory)
print(f"Directory {new_directory} is created")

Directory package is created

In [30]:
# listing Files and directories
items = os.listdir('.')
print(items)

['python.ipynb', 'destination.txt', 'example.bin', 'example.txt', 'Recommeder_system.ipynb', 'Data', 'package', 'ETH_1h.csv', 'example2.txt', 'iris.csv', 'notebook.ipynb', 'logistic_regression.ipynb', 'classification.ipynb', 'clustering.ipynb', 'decision_tree.ipynb', 'example.csv', 'titanic.csv']

In [32]:
# Joining paths
dir_name = "new_folder"
file_name = "file.txt"
full_path = os.path.join(os.getcwd(),dir_name, file_name)
print(full_path)

/home/wanyua/Dev/ML/Python-Machine-Learning-Tutorial/Python_for_data_science/new_folder/file.txt

In [33]:
path = 'example3.txt'
if os.path.exists(path):
    print(f"The path {path} exists")
else:
    print(f"The path {path} does not exist")

The path example3.txt does not exist

In [34]:
# Checking if a path is file or directory
import os
path = 'example.txt'
if os.path.isfile(path):
    print(f"The path {path} is a file")
elif os.path.isdir(path):
    print(f"The path {path} is a directory")
else:
    print(f"The path {path} is neither a file nor a directory")

The path example.txt is a file

In [35]:
# getting the absolute path
relative_path = 'example.bin'
absolute_path = os.path.abspath(relative_path)
print(absolute_path)

/home/wanyua/Dev/ML/Python-Machine-Learning-Tutorial/Python_for_data_science/example.bin

In [37]:
# exceptions handling
try:
    file= open('example.bin', 'r')
    content = file.read()
    print(content)
except FileNotFoundError:
    print("The file does not exist")
except Exception as ex:
    print(ex)
finally:
    if 'file' in locals() and not file.closed:
        file.close()
        print('File closed')

 
File closed

In [ ]:
!pip install numpy
import numpy as np
arr = np.array([[1,2,3], [3,4,5], [5,4,6]])
print(arr)

Collecting numpy
  Using cached numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
Installing collected packages: numpy
Successfully installed numpy-1.24.4
[[1 2 3]
 [3 4 5]
 [5 4 6]]

In [2]:
arr[:1]

array([[1, 2, 3]])

In [7]:
arr[:,2]

array([3, 5, 6])

In [20]:
arr[0:2, 1:]

array([[2, 3],
       [4, 5]])

In [32]:
# standardization and normalization
data = np.array([1,2,3,4,5,6,7,8])
print(data[(data > 4) & (data<7)])
# mean and standard deviation 
# standard deviation -> tells you how much the values vary from the average
mean = np.mean(data)
standard_deviation = np.std(data) # standardization -> mean = 0, standardard deviation = 1
print(f"Mean: {mean}, Standard deviation : {standard_deviation}")


# normalize the data -> rescales values so they lie between 0 and 1
norm_data = (data - mean)/ standard_deviation
print(f"Normalized data: {norm_data}")

[5 6]
Mean: 4.5, Standard deviation : 2.29128784747792
Normalized data: [-1.52752523 -1.09108945 -0.65465367 -0.21821789  0.21821789  0.65465367
  1.09108945  1.52752523]

In [34]:
# pandas -dataframes and series
!pip install pandas
import pandas as pd

Collecting pandas
  Using cached pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 365 kB/s eta 0:00:01
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/wanyua/Dev/ML/Python-Machine-Learning-Tutorial/env/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/wanyua/Dev/ML/Python-Machine-Learning-Tutorial/env/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Collecting tzdata>=2022.1
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     |████████████████████████████████| 347 kB 144 kB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /home/wanyua/Dev/ML/Python-Machine-Learning-Tutorial/env/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.3 pytz-2025.2 tzdata-2025.2

In [35]:
# series - one dimension array like object. Similar like a column in a table
data = [1,2,3,4,5]
series = pd.Series(data)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [36]:
# creating a series from a dictionary
data = {'a': 1, 'b': 2, 'c': 3}
series_dict = pd.Series(data)
series_dict

a    1
b    2
c    3
dtype: int64

In [39]:
arr = [1,2,3,4.3,5.3]
ind = ['a', 'b', 'c', 'd', 'e']
pd.Series(data, index = ind)

a    1.0
b    2.0
c    3.0
d    NaN
e    NaN
dtype: float64

In [43]:
# Data frame - similar to a table or a multidimensional array
# creating a df from a dictionary
data = {
    'Name': ['Sam', 'Vule', 'Chels', 'Ros'],
    'Age': [23,23,45,43],
    'City': ["New Mexico", 'Nairobi', "Pretoria", "Cairo"]
}

print(pd.DataFrame(data))
print(np.array(pd.DataFrame(data)))

    Name  Age        City
0    Sam   23  New Mexico
1   Vule   23     Nairobi
2  Chels   45    Pretoria
3    Ros   43       Cairo
[['Sam' 23 'New Mexico']
 ['Vule' 23 'Nairobi']
 ['Chels' 45 'Pretoria']
 ['Ros' 43 'Cairo']]

In [44]:
# creating a df from a list of dictionary
data = [
    {'name': 'Sam', 'age': 25, 'city': 'new jersey'},
    {'name': 'Sam', 'age': 25, 'city': 'new jersey'},
    {'name': 'Sam', 'age': 25, 'city': 'new jersey'},
    {'name': 'Sam', 'age': 25, 'city': 'new jersey'},
    {'name': 'Sam', 'age': 25, 'city': 'new jersey'},
]

print(pd.DataFrame(data))

  name  age        city
0  Sam   25  new jersey
1  Sam   25  new jersey
2  Sam   25  new jersey
3  Sam   25  new jersey
4  Sam   25  new jersey

In [45]:
!pip install kagglehub
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ivankmk/thousand-ml-jobs-in-usa")

print("Path to dataset files:", path)

Collecting kagglehub
  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7f6d3e3d2760>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /packages/5c/e7/71927b088047132317c14eb513d69c8375ddba3c9029d4154a054f6c8765/kagglehub-0.2.9-py3-none-any.whl
  Downloading kagglehub-0.2.9-py3-none-any.whl (39 kB)
Collecting tqdm
  Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 412 kB/s eta 0:00:01
Collecting requests
  Downloading requests-2.32.3-py3-none-any.whl (64 kB)
     |████████████████████████████████| 64 kB 304 kB/s eta 0:00:01
Requirement already satisfied: packaging in /home/wanyua/Dev/ML/Python-Machine-Learning-Tutorial/env/lib/python3.8/site-packages (from kagglehub) (25.0)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.4.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (147 kB)
     |████████████████████████████████| 147 kB 262 kB/s eta 0:00:01
Collecting idna<4,>=2.5
  Downloading idna-3.10-py3-none-any.whl (70 kB)
     |████████████████████████████████| 70 kB 157 kB/s eta 0:00:01
Collecting urllib3<3,>=1.21.1
  Downloading urllib3-2.2.3-py3-none-any.whl (126 kB)
     |████████████████████████████████| 126 kB 147 kB/s eta 0:00:01
Collecting certifi>=2017.4.17
  Downloading certifi-2025.4.26-py3-none-any.whl (159 kB)
     |████████████████████████████████| 159 kB 202 kB/s eta 0:00:01
Installing collected packages: tqdm, charset-normalizer, idna, urllib3, certifi, requests, kagglehub
Successfully installed certifi-2025.4.26 charset-normalizer-3.4.2 idna-3.10 kagglehub-0.2.9 requests-2.32.3 tqdm-4.67.1 urllib3-2.2.3

/home/wanyua/Dev/ML/Python-Machine-Learning-Tutorial/env/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.12)
Downloading from https://www.kaggle.com/api/v1/datasets/download/ivankmk/thousand-ml-jobs-in-usa?dataset_version_number=1...

100%|██████████| 1.60M/1.60M [00:02<00:00, 794kB/s]

Extracting model files...
Path to dataset files: /home/wanyua/.cache/kagglehub/datasets/ivankmk/thousand-ml-jobs-in-usa/versions/1

In [49]:
df = pd.read_csv('1000_ml_jobs_us.csv')
df.head()

,Unnamed: 0,job_posted_date,company_address_locality,company_address_region,company_name,company_website,company_description,job_description_text,seniority_level,job_title
0,0,2024-10-31,Indianapolis,Indiana,Upper Hand,https://upperhand.com,Upper Hand is the leading provider of full-sui...,OverviewUpper Hand is embarking on an exciting...,Internship,Internship - Machine Learning Engineer & Data ...
1,1,2025-03-14,San Francisco,California,Ikigai,https://www.ikigailabs.io,"Built upon years of MIT research, Ikigai is a ...",Company DescriptionThe Ikigai platform unlocks...,Mid-Senior level,Machine Learning Engineer
2,2,2025-04-09,San Jose,CA,Adobe,http://www.adobe.com,Adobe is the global leader in digital media an...,Our CompanyChanging the world through digital ...,Entry level,Machine Learning Engineer
3,3,2025-03-22,Mountain View,California,Waymo,https://waymo.com/careers/,On the journey to be the world's most trusted ...,Waymo is an autonomous driving technology comp...,Entry level,"Machine Learning Engineer, Training"
4,4,2025-03-28,Boston,Massachusetts,HMH,http://www.hmhco.com,We are an adaptive learning company that empow...,Job Title: Machine Learning EngineerLocation: ...,Mid-Senior level,Machine Learning Engineer

In [ ]:
df.loc[2] # this is a row

Unnamed: 0                                                                  2
job_posted_date                                                    2025-04-09
company_address_locality                                             San Jose
company_address_region                                                     CA
company_name                                                            Adobe
company_website                                          http://www.adobe.com
company_description         Adobe is the global leader in digital media an...
job_description_text        Our CompanyChanging the world through digital ...
seniority_level                                                   Entry level
job_title                                           Machine Learning Engineer
Name: 2, dtype: object

In [ ]:
df.iloc[0:,3] # column 3

0            Indiana
1         California
2                 CA
3         California
4      Massachusetts
           ...
992               CA
993            Texas
994               NY
995               CA
996    Massachusetts
Name: company_address_region, Length: 997, dtype: object

In [64]:
# remove a column
df.drop('Unnamed: 0', axis=1, inplace = True)
df.columns

Index(['job_posted_date', 'company_address_locality', 'company_address_region',
       'company_name', 'company_website', 'company_description',
       'job_description_text', 'seniority_level', 'job_title'],
      dtype='object')