#### Recommender Systems
- They are algorithms aimed at suggesting relevant items to users. Example - books, movies, products

Benefits:
- Increase customer engagement 
- Increase customer satisfaction by delivering relevant content
- Reduce the time for content searching

**Collaborative Filtering Recommedation System**
- Predicts the interests of a user on a product by collecting preferences information from many other users.

**Content-based Recommender system**
- Utilizes product features to recommend other products like what the user likes, based on other user's previous actions or explicit feedback such as rating on products.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
%matplotlib inline

In [6]:
column_names = ['user_id', 'rating', 'timestamp']
data = pd.read_csv('Data/u.data', sep='\t', names=column_names)
data.head()

     user_id  rating  timestamp
0         50       5  881250949
0        172       5  881250949
0        133       1  881250949
196      242       3  881250949
186      302       3  891717742