In [1]:
import sqlite3

In [2]:
# Connect to SQLite database
connection = sqlite3.connect('sam.db')
connection

In [3]:
# create cursor
cursor = connection.cursor()
# create a table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department Text
    
    )

''')

# commit changes
connection.commit()

In [5]:
cursor.execute(''' 
    select * from employees
    ''')

In [10]:
# insert data into the table
cursor.execute('''
Insert Into employees(name,age, department)
               values('Dancan', 28, 'Devops team')
''')

connection.commit()

In [19]:
# query data
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Annestar', 34, 'Data team')
(2, 'Brian', 23, 'Operations team')
(3, 'Charles', 28, 'Sales team')

In [13]:
# update data in the table
cursor.execute('''
Update employees
set age=34
where name = 'Annestar'
''')

connection.commit()

In [18]:
# delete data from the table
cursor.execute('''
Delete from employees
where name = 'Dancan'
''')

connection.commit()

In [20]:
# Sales Data
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
    id INTEGER PRIMARY KEY,
    data TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
    )

''')

In [22]:
# Insert data
sales_data = [
    ('2023-01-01', 'Laptops', 4394729, 'North America'),
    ('2023-01-01', 'Ipads', 2394789, 'South America'),
    ('2023-09-01', 'Tablets', 734298, ' Asia'),
    ('2023-01-01', 'Phones', 24895279, 'Europe'),
    ('2023-01-08', 'Earphones', 2743008, 'Africa'),
    ('2024-01-01', 'Monitors', 34729972, 'Central America')
]

cursor.executemany('''
    INSERT INTO sales(data, product, sales, region)
    values(?,?,?,?)
    ''', sales_data)

connection.commit()

In [24]:
cursor.execute('''
    SELECT * FROM sales
''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2023-01-01', 'Laptops', 4394729, 'North America')
(2, '2023-01-01', 'Ipads', 2394789, 'South America')
(3, '2023-09-01', 'Tablets', 734298, ' Asia')
(4, '2023-01-01', 'Phones', 24895279, 'Europe')
(5, '2023-01-08', 'Earphones', 2743008, 'Africa')
(6, '2024-01-01', 'Monitors', 34729972, 'Central America')