In [1]:
import sqlite3

In [2]:
# Connect to SQLite database
connection = sqlite3.connect('sam.db')
connection

In [3]:
# create cursor
cursor = connection.cursor()
# create a table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department Text
    
    )

''')

# commit changes
connection.commit()

In [5]:
cursor.execute(''' 
    select * from employees
    ''')

In [10]:
# insert data into the table
cursor.execute('''
Insert Into employees(name,age, department)
               values('Dancan', 28, 'Devops team')
''')

connection.commit()

In [12]:
# query data
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Annestar', 32, 'Data team')
(2, 'Brian', 23, 'Operations team')
(3, 'Charles', 28, 'Sales team')
(4, 'Dancan', 28, 'Devops team')
(5, 'Dancan', 28, 'Devops team')